<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Kossel_XL_building_log_01.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_02.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_03.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_04.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_05.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_06.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_07.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_08.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_09.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_10.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_11.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_12.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_13.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_14.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_15.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_16.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_17.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_18.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_19.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_20.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_21.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_22.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_23.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_24.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_25.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_26.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_27.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_28.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_29.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_30.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_31.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_32.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_33.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_34.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_35.md</string>
		</array>
		<array>
			<string>Kossel_XL_building_log_36.md</string>
		</array>
	</array>
</dict>
</plist>
